@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Noto+Sans+JP:wght@400;700&display=swap");
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 1200px) {
  .is-sp {
    display: none;
  }
}

*,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: #3E3E3E;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  background: #F3F3F3;
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.7;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.section-title {
  font-size: 36px;
  text-align: center;
  padding-top: 60px;
  font-weight: bold;
  text-shadow: 0.3px 0.3px 0,  0.3px -0.3px 0px, -0.3px 0.3px 0, -0.3px -0.3px 0px, 0.3px 0px 0px, 0px 0.3px 0px, -0.3px 0px 0px, 0px -0.3px 0px;
  letter-spacing: 1px;
  line-height: 44/36;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    line-height: 1.23333;
  }
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.util-link, .contact-button {
  display: inline-block;
  padding: 12px 48px;
  background-color: #FFAA3B;
  -webkit-box-shadow: 0px 3px 5px #3E3E3E33;
          box-shadow: 0px 3px 5px #3E3E3E33;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 28/18;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 767px) {
  .util-link, .contact-button {
    padding: 12px 30px;
    font-size: 16px;
  }
}

.util-link:hover, .contact-button:hover {
  opacity: .7;
  background: #F18900;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.util-link.-active, .contact-button.-active {
  background-color: #FFAA3B;
  color: #fff;
}

header {
  max-width: 100%;
  background: #ffffffb2;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
}

@media (max-width: 767px) {
  header {
    background: #FFFFFF;
    height: 68px;
  }
}

@media (min-width: 1200px) {
  header .header__logo__sp {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  header .header__logo__sp {
    display: none;
  }
}

@media (max-width: 767px) {
  header .header__logo__sp {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    line-height: 77/23;
    padding: 16px;
    font-weight: 700;
  }
}

header .drawer-hamburger-icon {
  background-color: #3E3E3E;
  margin-top: 14px;
}

.drawer-open header .drawer-hamburger-icon {
  background-color: transparent;
}

header .drawer-hamburger-icon::before, header .drawer-hamburger-icon::after {
  background-color: #3E3E3E;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

@media (max-width: 767px) {
  .header__inner {
    display: block;
  }
}

.drawer-nav {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
  .drawer-nav {
    width: 16.25rem;
  }
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: inherit;
      align-content: inherit;
}

@media (max-width: 767px) {
  .header__nav__list {
    display: block;
  }
}

.header__nav__list li:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .header__nav__list li:not(:first-child) {
    margin-left: 0;
    font-size: 18px;
  }
}

.drawer-menu-link {
  display: inline-block;
  height: 83px;
  max-height: 100%;
  line-height: 83px;
  color: #3E3E3E;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 767px) {
  .drawer-menu-link {
    height: 54px;
    top: 129px;
    left: 42%;
  }
}

.drawer-menu-link::after {
  position: absolute;
  bottom: 30px;
  left: 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: #3e3e3e;
  -webkit-transition: .5s;
  transition: .5s;
}

.drawer-menu-link:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .drawer-toggle {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .drawer-toggle {
    display: none;
  }
}

@media (max-width: 767px) {
  .drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
    height: 4px;
    width: 28px;
  }
}

.top {
  position: relative;
}

@media (max-width: 767px) {
  .top {
    padding-top: 68px;
  }
}

.top__img {
  padding-top: 65.75%;
  z-index: 1;
  background: url(../img/mv.png) top right/contain no-repeat;
  margin-bottom: -75px;
}

@media (max-width: 767px) {
  .top__img {
    background: url(../img/mv@2x.png) no-repeat 25% center/cover;
    height: 600px;
    max-height: 100%;
  }
}

.top__content {
  position: absolute;
  width: 50%;
  z-index: 1;
  top: 43%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 40px;
}

@media (max-width: 767px) {
  .top__content {
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding-right: 16px;
    padding-left: 16px;
  }
}

.top__title {
  font-size: 32px;
  margin-bottom: 34px;
  line-height: none;
  font-weight: 700;
}

@media (max-width: 767px) {
  .top__title {
    display: block;
    font-size: 24px;
    line-height: 1.66667;
    padding-bottom: 0;
    margin-bottom: 18px;
  }
}

.top__text {
  font-size: 18px;
  line-height: 28/18;
  letter-spacing: 0.45px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .top__text {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.42857;
  }
}

.top__button {
  width: 282px;
  margin-top: 40px;
  height: 50px;
  max-height: 100%;
}

@media (max-width: 767px) {
  .top__button {
    width: 222px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .news {
    padding-top: 650px;
  }
}

.news__inner {
  background: #fff;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
  padding-bottom: 40px;
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .news__inner {
    width: 343px;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 77%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.news__body {
  color: #3E3E3E;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .news__body {
    padding-bottom: 42px;
  }
}

.news__link {
  display: block;
}

.news__link:hover {
  background-color: #4973FF1A;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.news__items {
  padding: 0 60px;
}

@media (max-width: 767px) {
  .news__items {
    padding: 0;
  }
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 32px 0;
  border-top: 1px solid #3E3E3E;
}

.news__item.-second {
  padding: 22px 0;
}

@media (max-width: 767px) {
  .news__item.-second {
    padding: 4px 0;
  }
}

.news__item.last {
  border-bottom: 1px solid #3E3E3E;
}

@media (max-width: 767px) {
  .news__item {
    display: block;
    padding: 3px;
  }
}

.news__meta dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 263px;
}

@media (max-width: 767px) {
  .news__meta dl {
    margin: 12px 12px 6px 12px;
  }
}

.news__meta dl dt {
  font-size: 18px;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.45px;
  line-height: 1.7;
}

@media (max-width: 767px) {
  .news__meta dl dt {
    display: inline-block;
    font-size: 14px;
    line-height: 20/14;
    letter-spacing: 0.35px;
  }
}

.news__meta dl dd {
  border: 2px solid #3B69FF;
  border-radius: 50px;
  padding: 4px 30px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .news__meta dl dd {
    font-size: 12px;
    width: 81px;
    height: 20px;
    border-radius: 24px;
    padding: 0px 14px;
    margin-left: 28px;
  }
}

.news__contents {
  margin-left: 40px;
  width: calc(100% -263px);
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 767px) {
  .news__contents {
    width: 100%;
    margin-left: 0;
  }
}

.news__contents::after {
  position: absolute;
  content: "";
  width: 11px;
  height: 22px;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/news-arrow.png) no-repeat center center/contain;
}

@media (max-width: 767px) {
  .news__contents::after {
    width: 18px;
  }
}

.news__content {
  padding-right: 83px;
  font-size: 18px;
  letter-spacing: 0.45px;
  line-height: 1.55;
}

@media (max-width: 767px) {
  .news__content {
    padding: 0 48px 0 16px;
    font-size: 14px;
    letter-spacing: 0;
  }
}

.news__more {
  width: 236px;
  margin: 40px auto 0;
}

@media (max-width: 767px) {
  .news__more {
    width: 268px;
  }
}

.more__link {
  display: inline-block;
  padding: 16px 80px;
  text-align: center;
  border: 1px solid #3E3E3E;
  line-height: 22.5/20;
  font-size: 20px;
  letter-spacing: 4px;
}

@media (max-width: 767px) {
  .more__link {
    padding: 10px 96px;
  }
}

.more__link:hover {
  cursor: pointer;
  color: #fff;
  background: #3E3E3E;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 767px) {
  .service {
    margin-bottom: 390px;
  }
}

.service__inner {
  background: #000;
  position: relative;
  height: 400px;
  margin-bottom: 215px;
}

@media (max-width: 767px) {
  .service__inner {
    height: 480px;
    margin-bottom: 0;
  }
}

.service__head {
  text-align: center;
}

.service__inner__items {
  width: 960px;
  height: 331px;
  max-width: 100%;
  padding: 72px 45px 60px 45px;
  margin: 0 auto;
  background: #fff;
  top: 200px;
  position: absolute;
  top: 83%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
}

@media (max-width: 767px) {
  .service__inner__items {
    width: 343px;
    height: 694px;
    top: 95%;
    padding: 60px 16px 0px 16px;
  }
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .service__items {
    display: block;
  }
}

.service__item {
  width: 26%;
}

@media (max-width: 767px) {
  .service__item {
    width: 100%;
  }
}

.service__img {
  width: 51px;
  height: 62px;
  margin: auto;
}

.service__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 28/20;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: 0.3px 0.3px 0,  0.3px -0.3px 0px, -0.3px 0.3px 0, -0.3px -0.3px 0px, 0.3px 0px 0px, 0px 0.3px 0px, -0.3px 0px 0px, 0px -0.3px 0px;
  letter-spacing: 4px;
}

@media (max-width: 767px) {
  .service__subtitle {
    margin-bottom: 20px;
  }
}

.service__text {
  padding-top: 20px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .service__text {
    font-size: 14px;
    padding-top: 0;
    margin-bottom: 45px;
  }
}

.results {
  background: #3E3E3E;
  margin-left: 40px;
}

@media (max-width: 767px) {
  .results {
    margin-left: 0;
  }
}

.results__inner {
  padding-left: 60px;
  height: 754px;
}

@media (max-width: 767px) {
  .results__inner {
    padding-left: 0px;
    height: auto;
    padding-bottom: 40px;
  }
}

.results__head {
  padding-bottom: 60px;
  text-align: left;
}

@media (max-width: 767px) {
  .results__head {
    text-align: center;
    padding-bottom: 40px;
  }
}

.results__card__link {
  display: inline-block;
}

.results__card__link:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.6;
}

.results__card {
  width: 400px;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

@media (max-width: 767px) {
  .results__card {
    width: 274px;
    max-width: 100%;
  }
}

.results__img {
  padding-top: 62.5%;
  background: url(../img/slide1.png) no-repeat center center/contain;
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .results__img {
    margin-left: 16px;
  }
}

.card-body {
  background: #fff;
  width: 100%;
  height: auto;
  padding: 16px;
}

@media (max-width: 767px) {
  .card-body {
    padding: 8px;
    margin-left: 16px;
  }
}

.card-title {
  font-size: 20px;
  line-height: 24/20;
  font-weight: 700;
}

@media (max-width: 767px) {
  .card-title {
    font-size: 14px;
    line-height: 1.14286;
    margin-bottom: 12px;
  }
}

.card-text {
  line-height: 24/16;
}

@media (max-width: 767px) {
  .card-text {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.01px;
  }
}

.swiper-pagination {
  text-align: left;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .swiper-pagination {
    text-align: center;
    margin-bottom: 22px;
  }
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  display: none;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-pagination-bullets {
  position: static;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .swiper-pagination-bullets {
    margin-top: -6px;
  }
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 20px !important;
  background: #fff !important;
  position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  border: solid 1px #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}

.results__viewall {
  width: 289px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.125;
  letter-spacing: 4px;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
  .results__viewall {
    margin: 0 auto;
    width: 316px;
    max-width: 100%;
  }
}

.results__viewall:hover {
  color: #3E3E3E;
  background: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.results__link {
  display: inline-block;
  padding: 20px 78px;
  text-align: center;
}

@media (max-width: 767px) {
  .results__link {
    padding: 14px 78px;
  }
}

@media (max-width: 767px) {
  .price {
    padding-bottom: 120px;
  }
}

.price__inner {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 111px;
}

@media (max-width: 767px) {
  .price__inner {
    padding: 0 16px;
  }
}

.price__head {
  color: #3E3E3E;
  padding-top: 120px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .price__head {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

table {
  border-collapse: collapse;
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

table tr th, table tr td {
  border: 1px solid #3E3E3E;
  font-size: 23px;
  line-height: 1.20833;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-shadow: 0.3px 0.3px 0,  0.3px -0.3px 0px, -0.3px 0.3px 0, -0.3px -0.3px 0px, 0.3px 0px 0px, 0px 0.3px 0px, -0.3px 0px 0px, 0px -0.3px 0px;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  table tr th, table tr td {
    font-size: 20px;
    text-align: left;
  }
}

table tr th {
  padding: 16px;
  width: 262px;
  color: #fff;
  background: #3E3E3E;
}

@media (max-width: 767px) {
  table tr th {
    width: 120px;
    text-align: center;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  table tr th {
    width: 100px;
    padding: 15px;
  }
}

table tr th.price__th {
  border-bottom: solid 1px #fff;
}

table tr td {
  width: calc(100% - 262px);
  padding-left: 40px;
  background: #fff;
}

@media (max-width: 767px) {
  table tr td {
    width: calc(100% - 120px);
    padding-left: 16px;
  }
}

.price__sample {
  font-size: 12px;
  line-height: 20/12;
  padding-top: 12px;
}

@media (max-width: 767px) {
  .price__sample {
    padding-top: 6px;
  }
}

.comments {
  margin-bottom: 60px;
}

.wrap__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .wrap__inner {
    padding-top: 420px;
    display: block;
    top: 50%;
    background: #3E3E3E;
    margin-bottom: 0;
  }
}

.comments__inner {
  width: 55.5%;
  max-width: 100%;
  background: #fff;
  height: 604px;
  max-height: 100%;
  z-index: 150;
  padding: 60px 60px 0 60px;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
}

@media (max-width: 767px) {
  .comments__inner {
    width: 343px;
    max-width: 100%;
    padding: 0 16px;
    margin: 0 16px;
    position: absolute;
    height: auto;
    padding-bottom: 40px;
    top: -10%;
    left: 46%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.comments__head {
  color: #3E3E3E;
  text-align: left;
}

@media (max-width: 767px) {
  .comments__head {
    padding-top: 18px;
  }
}

.comments__items {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .comments__items {
    margin-top: 39px;
  }
}

.comment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__item:first-child {
  margin-bottom: 58px;
}

@media (max-width: 767px) {
  .comment__item:first-child {
    margin-bottom: 30px;
  }
}

.comment__icon {
  width: 100px;
  height: 100px;
}

@media (max-width: 767px) {
  .comment__icon {
    width: 60px;
    height: 60px;
  }
}

.comment__text {
  margin-left: 32px;
  line-height: 24/16;
  width: 414px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .comment__text {
    font-size: 14px;
    line-height: 1.42857;
    margin-left: 28px;
  }
}

.comments__img {
  width: 44.5%;
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 150;
}

@media (max-width: 767px) {
  .comments__img {
    display: none;
  }
}

.black__background {
  width: 88.3%;
  max-width: 100%;
  background: #3E3E3E;
  height: 576px;
  position: absolute;
  top: 25%;
  left: -120px;
}

@media (max-width: 767px) {
  .black__background {
    width: 100%;
    display: none;
  }
}

.qa {
  margin-top: 60px;
  background: url(../img/qa-bg.png) no-repeat top center/cover;
  background-attachment: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .qa {
    margin-top: -60px;
  }
}

.qa__inner {
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .qa__inner {
    padding-bottom: 64px;
  }
}

.qa__head {
  padding-bottom: 60px;
  color: #3E3E3E;
}

@media (max-width: 767px) {
  .qa__head {
    padding-bottom: 42px;
  }
}

.qa__items {
  width: 612px;
  max-width: 100%;
  margin-left: auto;
  margin-right: 40px;
}

@media (max-width: 767px) {
  .qa__items {
    width: 343px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.qa__item {
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .qa__item {
    padding: 14px;
  }
}

.qa__item:nth-child(n + 2) {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .qa__item:nth-child(n + 2) {
    margin-top: 25px;
  }
}

.qa-box__q {
  color: #3E3E3E;
  background: #FFFFFF;
  font-weight: 700;
  padding-left: 40px;
  position: relative;
}

.qa-box__q::before {
  content: "Q";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  background: #3B69FF;
  width: 24px;
  height: 24px;
  border-radius: 500px;
  color: #fff;
}

.qa-box__icon {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.qa-box__icon.is-open .qa-box__bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.qa-box__bar1 {
  width: 17px;
  height: 3px;
  background: #3B69FF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.qa-box__bar2 {
  width: 3px;
  height: 17px;
  background: #3B69FF;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.qa-box__a {
  background: #3B69FF33;
  color: #3E3E3E;
  line-height: 1.5;
  padding: 14px 12px 12px 16px;
  border-radius: 4px;
  display: none;
  margin-top: 16px;
  letter-spacing: 0.1px;
}

.qa-box__a.second {
  padding: 9px 12px 12px 16px;
}

.qa-box__a.open {
  display: block;
}

@media (max-width: 767px) {
  .qa-box__content {
    font-size: 14px;
    line-height: 1.42857;
  }
}

.access__wrap__inner {
  position: relative;
}

.access__inner {
  width: 76.56%;
  max-width: 100%;
  background: #3E3E3E;
  height: 504px;
  max-height: 100%;
  padding-left: 100px;
  margin-bottom: 256px;
}

@media (max-width: 767px) {
  .access__inner {
    width: 100%;
    padding-left: 16px;
    height: 596px;
    max-height: 100%;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .access__inner {
    margin-bottom: 100px;
    padding-left: 50px;
  }
}

.access__head {
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .access__head {
    text-align: left;
    padding-top: 116px;
  }
}

@media (max-width: 767px) {
  .access__head {
    padding-bottom: 35px;
    text-align: left;
  }
}

.access__address {
  margin-bottom: 30px;
}

.access__address p {
  color: #fff;
}

@media (max-width: 767px) {
  .access__address {
    font-size: 14px;
  }
}

.access__link {
  width: 314px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: 4px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0.1px 0.1px 0,  0.1px -0.1px 0px, -0.1px 0.1px 0, -0.1px -0.1px 0px, 0.1px 0px 0px, 0px 0.1px 0px, -0.1px 0px 0px, 0px -0.1px 0px;
}

.access__link:hover {
  color: #3E3E3E;
  background: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.access__link a {
  display: inline-block;
  padding: 20px 80px;
  text-align: center;
}

@media (max-width: 767px) {
  .access__link {
    display: none;
  }
}

.access__map__wrap {
  position: absolute;
  top: 25%;
  right: 40px;
  width: 726px;
  max-width: 100%;
  height: 520px;
  max-height: 100%;
}

@media (max-width: 767px) {
  .access__map__wrap {
    top: 59%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 343px;
    max-width: calc(343 / 375 * 100%);
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .access__map__wrap {
    width: 550px;
  }
}

.access__map {
  position: relative;
  width: 100%;
  padding-top: 75%;
  /* = height ÷ width × 100 */
}

@media (max-width: 767px) {
  .access__map {
    padding-top: 70%;
  }
}

.access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .access__link__sp {
    display: none;
  }
}

@media (max-width: 767px) {
  .access__link__sp {
    width: 100%;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 700;
    margin-top: 24px;
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: 1.8px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0.1px 0.1px 0,  0.1px -0.1px 0px, -0.1px 0.1px 0, -0.1px -0.1px 0px, 0.1px 0px 0px, 0px 0.1px 0px, -0.1px 0px 0px, 0px -0.1px 0px;
  }
  .access__link__sp:hover {
    color: #3E3E3E;
    background: #fff;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .access__link__sp a {
    display: inline-block;
    padding: 16px 80px;
    text-align: center;
  }
}

.contact {
  background: url(../img/contact-bg.png) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  padding: 60px;
}

@media (max-width: 767px) {
  .contact {
    padding: 16px;
    padding-bottom: 40px;
  }
}

.contact__inner {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}

@media (max-width: 767px) {
  .contact__inner {
    width: 343px;
    max-width: 100%;
  }
}

.contact__main__title {
  background: url(../img/sp-contact1.png) no-repeat center center/cover;
  border-radius: 12px 12px 0px 0px;
  width: 960px;
  width: 100%;
  height: auto;
}

.contact__main__title p {
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px 70px 16px;
}

@media (max-width: 767px) {
  .contact__main__title p {
    text-align: left;
    font-size: 14px;
    padding: 14px 16px 44px 16px;
  }
}

.contact__form__wrapper {
  background: #fff;
  width: 960px;
  max-width: 100%;
  height: auto;
  margin-top: -15px;
  padding: 60px 120px 0 120px;
  border-radius: 0 0 12px 12px;
}

@media (max-width: 767px) {
  .contact__form__wrapper {
    padding: 40px 12px;
  }
}

.contact__list {
  max-width: 770px;
  margin: 0px auto 0;
}

@media (max-width: 767px) {
  .contact__list {
    margin: 0;
  }
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__item + .contact__item {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .contact__item + .contact__item {
    margin-top: 27px;
  }
}

@media (max-width: 767px) {
  .contact__item {
    display: block;
  }
}

.contact__item__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  color: #3E3E3E;
  height: 32px;
  line-height: 32px;
  text-align: left;
  font-weight: 700;
}

.contact__item__title.-select {
  margin: auto 0;
}

.contact__item__title.-textarea {
  margin-top: 6px;
}

@media (max-width: 767px) {
  .contact__item__title.-textarea {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .contact__item__title.-textarea {
    margin-top: 22px;
    margin-bottom: 7px;
  }
}

.contact__requireLabel {
  background: #ff4646;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin-left: 12px;
  padding: 0;
  text-align: center;
  width: 40px;
}

@media (max-width: 767px) {
  .contact__requireLabel {
    font-size: 12px;
    margin-left: 20px;
    padding: 0;
  }
}

.contct__item__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 532px;
          flex: 0 0 532px;
  margin-left: 18px;
}

@media (max-width: 767px) {
  .contct__item__input {
    margin-left: 0;
  }
}

.contct__item__input.is-select {
  position: relative;
}

.contct__item__input.is-select:after {
  border-bottom: solid 2px #3e3e3e;
  border-right: solid 2px #3e3e3e;
  content: '';
  display: block;
  height: 6px;
  position: absolute;
  left: 155px;
  top: 35%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 6px;
}

@media (max-width: 767px) {
  .contct__item__input.is-select:after {
    left: 93%;
  }
}

select {
  padding: 12px;
  font-size: 16px;
  width: 178px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 34px 0 8px;
}

@media (max-width: 767px) {
  select {
    width: 100%;
  }
}

select:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #4973ff;
          box-shadow: 0 0 5px #4973ff;
}

select:focus {
  outline: none;
  border: 2px solid #4973FF80;
  -webkit-box-shadow: #4973FF80;
          box-shadow: #4973FF80;
  -webkit-box-shadow: 1px 1px 5px 1px #4973FF80;
          box-shadow: 1px 1px 5px 1px #4973FF80;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  border-bottom: 1px solid #3E3E3E;
  padding-left: 10px;
  padding-bottom: 8px;
}

@media (max-width: 767px) {
  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 14px;
    border-bottom: 1px solid #3E3E3E;
    padding-left: 0;
    padding-bottom: 0;
  }
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border-bottom: 1px solid #4973FF80;
  cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #4973FF80;
  -webkit-box-shadow: #4973FF80;
          box-shadow: #4973FF80;
}

input[type="text"],
input[type="email"] {
  position: relative;
}

textarea {
  border: 1px solid #3E3E3E;
  min-height: 200px;
}

@media (max-width: 767px) {
  textarea {
    min-height: 160px;
  }
}

textarea:hover {
  cursor: pointer;
  border: 1px solid  #4973FF80;
  -webkit-box-shadow: 1px 1px 5px 1px #4973FF80;
          box-shadow: 1px 1px 5px 1px #4973FF80;
}

.contact__radio__wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 532px;
          flex: 0 0 532px;
  margin-left: 54px;
}

.contact__radio__wrap [type="radio"] {
  display: none;
}

@media (max-width: 767px) {
  .contact__radio__wrap {
    margin-left: 0;
  }
}

.contact__radio__input {
  position: relative;
}

.contact__radio__input.-second {
  margin-left: 40px;
}

.contact__radio__input:hover {
  cursor: pointer;
  border: 1px solid  #4973FF80;
  background: #4973FF80;
}

.contact__radio__part {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .contact__radio__part {
    margin-right: 28px;
  }
}

.contact__radio__part::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #3E3E3E;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  display: block;
}

.contact__radio__part::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #3B69FF;
  position: absolute;
  left: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

input[type="radio"]:checked + span::after {
  opacity: 1;
}

.contact__footer {
  margin-top: 28px;
}

@media (max-width: 767px) {
  .contact__footer {
    margin-top: 20px;
  }
}

.contact__privacy {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}

.contact__privacy__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact__privacy__input:checked + .contact__privacy__part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background-color: transparent;
  border-bottom: 3px solid #3B69FF;
  border-right: 3px solid #3B69FF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
  left: 5px;
}

.contact__privacy__part {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: solid 1px #3E3E3E;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact__privacy__part:hover {
  cursor: pointer;
  background: #4973FF80;
}

.contact__privacy__link {
  color: #3E3E3E;
  font-size: 18px;
  padding-left: 14px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .contact__privacy__link {
    font-size: 16px;
  }
}

.contact-button {
  margin-top: 37px;
  margin-bottom: 60px;
  width: 173px;
}

@media (max-width: 767px) {
  .contact-button {
    display: block;
    width: 165px;
    margin: 0 auto;
    margin-top: 32px;
  }
}

.contact-button:disabled {
  background-color: #B2B2B2;
  cursor: auto;
}

.contact__message {
  text-align: center;
  margin-top: 0px;
  font-size: 18px;
  display: none;
}

.contact__message.-error {
  color: #f00;
}

footer {
  background: #3E3E3E;
  height: auto;
  color: #E3E3E3;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
    padding-top: 40px;
  }
}

.footer__inner {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__inner {
    display: block;
  }
}

.footer__left {
  text-align: center;
  margin-top: 48px;
}

@media (max-width: 767px) {
  .footer__left {
    margin-top: 0;
  }
}

.footer__icon {
  text-align: left;
}

.footer__icon a {
  font-size: 36px;
}

@media (max-width: 767px) {
  .footer__icon a {
    font-size: 44px;
  }
}

.footer__icon a:not(:first-child) {
  margin-left: 30px;
}

@media (max-width: 767px) {
  .footer__icon a:not(:first-child) {
    margin-left: 50px;
  }
}

.footer__icon a:hover {
  opacity: 0.7;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (max-width: 767px) {
  .footer__icon {
    text-align: center;
  }
}

.footer__contents {
  margin-top: 26px;
  text-align: left;
}

@media (max-width: 767px) {
  .footer__contents {
    font-size: 14px;
    text-align: center;
  }
}

.footer__contents p:not(:first-child) {
  margin-top: 16px;
}

@media (max-width: 767px) {
  .footer__contents p:not(:first-child) {
    margin-top: 21px;
  }
}

.footer__right {
  padding-top: 42px;
}

@media (max-width: 767px) {
  .footer__right {
    padding-top: 26px;
  }
}

.footer__logo {
  font-size: 40px;
  line-height: 1.925;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  font-weight: bold;
  text-shadow: 0.3px 0.3px 0,  0.3px -0.3px 0px, -0.3px 0.3px 0, -0.3px -0.3px 0px, 0.3px 0px 0px, 0px 0.3px 0px, -0.3px 0px 0px, 0px -0.3px 0px;
}

@media (max-width: 767px) {
  .footer__logo {
    font-size: 32px;
    line-height: 77 / 32;
  }
}

.footer__copyright {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 1.25;
  text-align: right;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .footer__copyright {
    text-align: center;
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1000;
}

@media (max-width: 767px) {
  .to-top {
    right: 12px;
    bottom: 12px;
  }
}

.to-top.is-show {
  opacity: 1;
  visibility: visible;
}

.to-top a {
  display: block;
  width: 60px;
  position: relative;
}

@media (max-width: 767px) {
  .to-top a {
    width: 50px;
  }
}

.to-top img {
  position: absolute;
  content: "";
  bottom: 20px;
  right: 20px;
  width: 50px;
}

@media (max-width: 767px) {
  .to-top img {
    width: 50px;
    bottom: 10px;
    right: 5px;
  }
}
/*# sourceMappingURL=style.css.map */