$link-color-active:#082b48;
$color-main:#FFFFFF;
$color-accent:#E7728E;
$color-text:#3E3E3E;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Noto+Sans+JP:wght@400;700&display=swap');

$layout-width-inner:1200px;


$font-en: "Montserrat", sans-serif;
$font-ja: YuGothic,'Yu Gothic',sans-serif;

// =======================
// メディアクエリ（pc,tab,sp）
// =======================

//マップ型変数breakpointsを定義
$breakpoints: (
//キー : 値
  'sp': "(max-width: 767px)", 
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})", 
  'pc': "(min-width: #{$layout-width-inner})"
) !default;


// =======================
// メディアクエリ（pc,sp）
// =======================

// $breakpoints: (
// //キー : 値
//   'sp': "(max-width: 767px)", 
//   'pc': "(min-width: 768px)"
// ) !default;



// ↑'pc'のmax-widthは本来minでしてすること

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
	//map-get(マップ型変数, キー)で値を取得
		@media #{map-get($breakpoints, $breakpoint)} {
			//この中をカスタムできる
			@content;
		}
	}

	// ===============================================================
	// 全体に共通するスタイル
	// ===============================================================

	// スマホの時表示しない
	@include mq(sp) {
		.is-pc{
			display: none;
		}
	}
// PCの時表示しない
	@include mq(pc) {
		.is-sp{
			display: none;
		}
	}

	
	*,
	*::before{
		box-sizing: border-box;
	}

html,
body{
	padding: 0;
	margin: 0;
	// scroll-behavior: smooth;
}

// #wrapper {
//   width:100%;
//   overflow:hidden;
// }



body{
	color: $color-text;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  // line-height: 1.6875;
	background: #F3F3F3;
	font-size: 16px;
}

img{
	width:100%;
}

a{
	text-decoration: none;
	color: #fff;
&:hover{
	opacity:0.7;
}
}

ul,
ol{
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

a{
	color: inherit;
}

p{
	margin: 0;
	padding: 0;
}


.section-title{
	font-size: 36px;
	text-align: center;
	padding-top:60px;
	font-weight: bold;
	text-shadow: 
    0.3px 0.3px 0, 
    0.3px -0.3px 0px,
    -0.3px 0.3px 0,
    -0.3px -0.3px 0px,
    0.3px 0px 0px,
    0px 0.3px 0px,
    -0.3px 0px 0px,
    0px -0.3px 0px;
  letter-spacing: 1px;

	line-height: 44/36;
	color:#fff;
	font-family: $font-en;

	@include mq('sp') {
		font-size: 30px;
		font-weight: bold;
		padding-top: 40px;
		line-height: (37/30);

}}

.inner{
	width: $layout-width-inner;
 max-width: 100%;
margin: 0 auto;

@include mq('sp') {

}
}

.util-link,.contact-button{
	display: inline-block;
	padding: 12px 48px;
	background-color: #FFAA3B;
	box-shadow: 0px 3px 5px #3E3E3E33;
  border-radius: 10px;
	text-align: center;
	font-size: 18px;
	line-height: 28/18;
	color: #fff;
	font-weight: 700;

	@include mq('sp') {
		padding: 12px 30px;
		font-size: 16px;
	}

	&:hover{
		opacity: .7;
		background: #F18900;
		transition: all 0.5s ease 0s;
		cursor: pointer;

	}

	&.-active{
		background-color: #FFAA3B;
		color: #fff;
	}
}


// ----------------
// header
// ----------------

header{
	max-width: 100%;
	background:#ffffffb2;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 300;
	@include mq('sp') {
	background: #FFFFFF;
	height: 68px;

 }

.header__logo__sp{
	@include mq('pc') {
		display: none;
	}
	@include mq('tab') {
		display: none;
	}

	@include mq('sp') {
		display: inline-block;
		font-family: $font-en;
		font-size: 23px;
		line-height: 77/23;
		padding: 16px;
		font-weight: 700;
	}
}

	// ハンバーガーボタンの位置を調整↓
	.drawer-hamburger{
		.drawer--right & {
			// right: 18.55rem;
		}
	}

	.drawer-hamburger-icon{
	background-color: $color-text;
	margin-top: 14px;

	.drawer-open &{
		background-color: transparent;
	}
	
	&::before,
	&::after{
		background-color:$color-text;
	}

	}

}

.header__inner{
	display: flex;
	height: inherit;
	@include mq('sp') {
		display: block;
	}


}

.drawer-nav{
	margin: 0 auto;
	font-family: $font-en;
	@include mq('sp') {
  width: 16.25rem;
	}

}

.header__nav__list{
display: flex;
align-content: inherit;
@include mq('sp') {
	display: block;
}


li{

	&:not(:first-child){
		margin-left:40px;
		@include mq('sp') {
			margin-left: 0;
			font-size: 18px;
		}
		
}
}
}

.drawer-menu-link{
	display: inline-block;
	height: 83px;
	max-height: 100%;
	line-height: 83px;
color:$color-text;
position: relative;
transition: .5s;

@include mq('sp') {
	height: 54px;
	top: 129px;
	left: 42%;
}

	&::after{
		position: absolute;
		bottom: 30px;
		left: 0;
		content: "";
		width: 0;
		height: 1px;
		background-color: rgba(62, 62, 62, 1);
		transition: .5s;
	}
&:hover::after{
	width: 100%;
}
}



.drawer-toggle {
	@include mq('pc') {
		display: none;
	}

	@include mq('tab') {
		display: none;
	}
}


.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {

	@include mq('sp') {
		height: 4px;
		width: 28px;
	}
}




// ----------------
// top
// ----------------

.top{
	// padding-top: 83px;
	position: relative;
	@include mq('sp') {
		// position: static;
		padding-top: 68px;

	}


}

.top__img{

	padding-top: 65.75%;
	z-index: 1;
	background: url(../img/mv.png) top right /contain no-repeat;
	margin-bottom: -75px;
	@include mq('sp') {
		background:url(../img/mv@2x.png) no-repeat 25% center /cover;
		height: 600px;
		max-height: 100%;

	}

}

.top__content{
	position: absolute;
	width: 50%;
	z-index: 1;
	top: 43%;
	right: 0;
	transform: translateY(-50%);
	padding-right: 40px;

	@include mq('sp') {
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		
		// position: relative;
		padding-right: 16px;
		padding-left: 16px;
	}
	}




.top__title{
	font-size: 32px;
	// padding-bottom: 40px;
	// line-height: 48/32;
	margin-bottom: 34px;

	line-height: none;
	font-weight: 700;
	@include mq('sp') {
	display: block;
	font-size: 24px;
	line-height: (40/24);
	padding-bottom: 0;
	margin-bottom: 18px;
}

}

.top__text{
	font-size: 18px;
	line-height: 28/18;
	letter-spacing: 0.45px;
	font-weight: 700;
	@include mq('sp') {
	font-size: 14px;
	letter-spacing: 0;
	line-height: (20/14);
}
}

.top__button{
	width: 282px;
	margin-top: 40px;
	height: 50px;
	max-height: 100%;
	@include mq('sp') {
		width: 222px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

}


// ----------------
// news
// ----------------

.news{
	
	@include mq('sp') {
		padding-top: 650px;
	}
	

}

.news__inner{
	background: #fff;
	box-shadow: 0px 5px 12px #3E3E3E33;
	padding-bottom: 40px;
	margin-bottom: 120px;
	@include mq('sp') {
	width: 343px;
	max-width: 100%;
	height: auto;
	position: absolute;
	top: 77%;
	left: 50%;
	transform: translateX(-50%);
	}

}

.news__body{
	color: $color-text;
	padding-bottom: 60px;
	@include mq('sp') {
		padding-bottom: 42px;
	}

}

.news__link{
	display: block;
	&:hover{
		background-color: #4973FF1A;
		transition: all 0.8s ease 0s;

	}

}

.news__items{
	padding: 0 60px;
	@include mq('sp') {
	padding: 0;}
}

.news__item{
	display: flex;
	position: relative;
	padding: 32px 0;
	border-top: 1px solid #3E3E3E;
	&.-second{
		padding: 22px 0;
		@include mq('sp') {
			padding: 4px 0;
		}

	}

&.last{
	border-bottom: 1px solid #3E3E3E;
}

@include mq('sp') {
	display: block;
	padding: 3px;
}
}


.news__meta{
	@include mq('sp') {

	}
	
	dl{
		display: flex;
		width: 263px;
		@include mq('sp') {
			margin: 12px 12px 6px 12px;
		}

		
		dt,dd{
			
		}
		
		dt{
			font-size: 18px;
			max-width: 100%;
			font-family: $font-en;
			letter-spacing: 0.45px;
			line-height: 1.7;
			@include mq('sp') {
				display: inline-block;
				font-size: 14px;
				line-height: 20/14;
				letter-spacing: 0.35px;
			}
			
		}
		
		dd{
			border: 2px solid #3B69FF;
			border-radius: 50px;
			padding: 4px 30px;
			font-size: 14px;
			
			@include mq('sp') {
				font-size: 12px;
				width: 81px;
				height: 20px;	
				border-radius: 24px;
				padding: 0px 14px;
				margin-left: 28px;
				
			}
			
		}
	}
}


.news__contents{
	margin-left: 40px;
	width: calc(100% -263px);
	max-width: 100%;
	margin-top: auto;
	margin-bottom: auto;
	@include mq('sp') {
	width: 100%;
margin-left: 0;}
	


	&::after{
		position: absolute;
		content: "";
		width: 11px;
		height: 22px;
		top: 50%;
		right: 12px;
		transform: translateY(-50%);
		background: url(../img/news-arrow.png) no-repeat center center / contain;

		@include mq('sp') {
			width: 18px;
			
		}

	}

}

.news__content{
	padding-right: 83px;
	font-size: 18px;
	letter-spacing: 0.45px;
	line-height: 1.55;
	@include mq('sp') {
	padding: 0 48px 0 16px;
font-size: 14px;
letter-spacing: 0;}
}

.news__more{
	width: 236px;
	margin: 40px auto 0; 
	@include mq('sp') {
	width: 268px;
	;

}

}

.more__link{
	display: inline-block;
	padding: 16px 80px;
	text-align: center;
	border: 1px solid #3E3E3E;
	line-height: 22.5/20;
	font-size: 20px;
	letter-spacing: 4px;
	@include mq('sp') {
		padding: 10px 96px;
	}

	&:hover{
		cursor: pointer;
		color: #fff;
		background: #3E3E3E;
		transition: all 0.5s ease 0s;
	}

}


// ----------------
// service
// ----------------

.service{
	
	@include mq('sp') {
		margin-bottom: 390px;
	}

}

.service__inner{
	background: #000;
	position: relative;
	height: 400px;
	margin-bottom: 215px;	

	@include mq('sp') {
	height: 480px;
	margin-bottom: 0;
	}


}

.service__head{
	text-align: center;

}

.service__inner__items{
		width: 960px;
		height: 331px;
		max-width: 100%;
		padding:72px 45px 60px 45px;
		margin: 0 auto;
		background: #fff;
		top: 200px;
		position: absolute;
		top: 83%;
		left: 50%;
		transform: translate(-50%,-50%);
		box-shadow: 0px 5px 12px #3E3E3E33;

		@include mq('sp') {
		width: 343px;
		height: 694px;
		top: 95%;
		padding: 60px 16px 0px 16px;
		}
	}
	


.service__items{
	display: flex;
	justify-content: space-between;
	@include mq('sp') {
	display: block;
}
	

}

.service__item{
	width: 26%;
	@include mq('sp') {
	width: 100%;
	// margin-top: 58px;
	&.-sp{
	}

}




}

.service__img{
	width: 51px;
	height: 62px;
	margin: auto;

	@include mq('sp') {
	// margin-top: 68px;
	// margin :32px auto 0 auto;

}


	img{

	}
}


.service__subtitle{
	text-align: center;
	font-size: 20px;
	line-height: 28/20;
	font-family: $font-en;
	font-weight: bold;
	text-shadow: 
	0.3px 0.3px 0, 
	0.3px -0.3px 0px,
	-0.3px 0.3px 0,
	-0.3px -0.3px 0px,
	0.3px 0px 0px,
	0px 0.3px 0px,
	-0.3px 0px 0px,
	0px -0.3px 0px;
letter-spacing: 4px;
@include mq('sp') {
	margin-bottom: 20px;


}

}

.service__text{
	padding-top: 20px;
	font-size: 14px;
	@include mq('sp') {
		font-size: 14px;
		padding-top: 0;
		margin-bottom: 45px;
		&.-sp{
		}
	}
}




// ----------------
// results
// ----------------

.results{
	background:#3E3E3E;
	margin-left: 40px;
	@include mq('sp') {
	margin-left: 0;}

}
.results__inner{
	padding-left: 60px;
	height: 754px;
	@include mq('sp') {
	padding-left: 0px;
height: auto;
padding-bottom: 40px;}

}

.results__head{
	padding-bottom: 60px;
	text-align: left;
	@include mq('sp') {
	text-align: center;
	padding-bottom: 40px;
}
	
}

.results__card__link{
	display: inline-block;
	&:hover{
		transition: all 0.5s;
		opacity: 0.6;

  }
}


.results__card{
	width: 400px;
	max-width: 100%;
	height: auto;
	overflow: hidden;
	

	@include mq('sp') {
	width: 274px;
	max-width: 100%;
	}
	
	
	
}

.results__img{
	padding-top: 62.5%;
	background: url(../img/slide1.png) no-repeat center center /contain;
	width: 100%;
	height: auto;
	@include mq('sp') {
	margin-left: 16px;}

}


.card-body{
	background: #fff;
	width: 100%;
	height: auto;
	padding: 16px;
	@include mq('sp') {
	padding: 8px;
margin-left: 16px;}




}


.card-title{
	font-size: 20px;
	line-height: 24/20;
	font-weight: 700;
	@include mq('sp') {
		font-size: 14px;
		line-height: (16/14);
		margin-bottom: 12px;
	}

}

.card-text{
	line-height: 24/16;
	@include mq('sp') {
	font-size: 12px;
line-height: (18/12);
letter-spacing: 0.01px;}

}
.swiper{
	// overflow: visible;
	
}

.swiper-pagination{
	text-align: left;
	margin-bottom: 40px;
	@include mq('sp') {
	text-align: center;
margin-bottom: 22px;}

}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
	display: none;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
	display: none;
}

.swiper-pagination-bullets {
  position: static;
  margin-top: 16px;
	@include mq('sp') {
	margin-top: -6px;}
} 

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 20px !important;
  background: #fff !important;
	position: relative;


	&.swiper-pagination-bullet-active:after {
		border: solid 1px #fff;
		border-radius: 50%;
		content: '';
		display: block;
		height: 20px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 20px;
	}

}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}

.results__viewall{
	width: 289px;
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	font-weight: 700;
	font-size: 20px;
	line-height: (22.5/20);
	letter-spacing: 4px;
	font-family: $font-en;
	@include mq('sp') {
		margin: 0 auto;
		width: 316px;
		max-width: 100%;
	
	}

	&:hover{
		color: $color-text;
		background: #fff;
		transition: all 0.5s ease 0s;
	}
}

.results__link{
	display: inline-block;
	padding:20px 78px;
	text-align: center;	
	@include mq('sp') {
		padding:14px 78px;
	}

}

// ----------------
// price
// ----------------

.price{
@include mq('sp') {
	padding-bottom: 120px;

}	

}

.price__inner{
	width: 960px;
	max-width: 100%;
	margin: 0 auto;	
	padding-bottom: 111px;
	@include mq('sp') {
	padding: 0 16px;
	}


}

.price__head{
	color: $color-text;
	padding-top: 120px;
	padding-bottom: 60px;

	@include mq('sp') {
	padding-top: 40px;
	padding-bottom: 40px;
	}

}

table{
	border-collapse: collapse;
	width: 960px;
	max-width: 100%;
	margin: 0 auto;


	tr{
		th,td{
			border: 1px solid $color-text;
			font-size: 23px;
			line-height: (29 / 24);
			font-family: $font-en;
			font-weight: bold;
			text-shadow: 
			0.3px 0.3px 0, 
			0.3px -0.3px 0px,
			-0.3px 0.3px 0,
			-0.3px -0.3px 0px,
			0.3px 0px 0px,
			0px 0.3px 0px,
			-0.3px 0px 0px,
			0px -0.3px 0px;
		letter-spacing: 1px;

		@include mq('sp') {
		font-size: 20px;
		text-align: left;
		}

		}

		th{
			padding: 16px;
			width: 262px;
			color: #fff;
			background: #3E3E3E;
			@include mq('sp') {
			width: 120px;
			text-align: center;
			@include mq('sp') {
				width: 100px;
				padding: 15px;
			}
			}
	
		&.price__th{
			border-bottom:solid 1px #fff;
		}}

		td{
			width: calc(100% - 262px);
			padding-left: 40px;
			background: #fff;
			@include mq('sp') {
				width: calc(100% - 120px);
				padding-left: 16px;
		
			}


		}
	}
}



.price__sample{
	font-size: 12px;
	line-height: 20/12;
	padding-top: 12px;
	@include mq('sp') {
		padding-top: 6px;
	}


}

// ----------------
// comments
// ----------------
.comments{
	margin-bottom: 60px;
	@include mq('sp') {

	}


}

.wrap__inner{
	display: flex;
	position: relative;
	margin-bottom: 120px;
	@include mq('sp') {
		padding-top: 420px;
		display: block;
		top: 50%;
		background: #3E3E3E;
		margin-bottom: 0;
	}

	
	
}

.comments__inner{
	width: 55.5%;
	max-width: 100%;
	background: #fff;
	height: 604px;
	max-height: 100%;
	z-index: 150;
	padding:60px 60px 0 60px;
	box-shadow: 0px 5px 12px #3E3E3E33;
	@include mq('sp') {
	width: 343px;	
		max-width: 100%;
		padding: 0 16px;
		margin: 0 16px;
		position: absolute;
		height: auto;
		padding-bottom: 40px;
		top: -10%;
		left: 46%;
		transform: translateX(-50%);
	}
	
}

.comments__head{
	color:#3E3E3E;
	text-align:left;
	@include mq('sp') {
	padding-top: 18px;}
}

.comments__items{
	margin-top: 60px;
	@include mq('sp') {
	margin-top: 39px;
	}

}

.comment__item{
	display: flex;
	&:first-child{
		margin-bottom: 58px;


		@include mq('sp') {
			margin-bottom: 30px;
		}
	}


}

.comment__icon{
	width: 100px;
	height: 100px;
	@include mq('sp') {
		width: 60px;
		height: 60px;
	}

}

.comment__text{
	margin-left: 32px;
	line-height: 24/16;
	// width: calc(100% - 100px);
	width: 414px;
	max-width: 100%;
	@include mq('sp') {
		font-size: 14px;
		line-height: (20 / 14);
		margin-left: 28px;
	}

}

.comments__img{
	width: 44.5%;
	max-width: 100%;
	// height: 444px;
	margin-top: auto;
	margin-bottom: auto;
	z-index: 150;
	@include mq('sp') {
		display: none;
	}


}

.black__background{
  width: 88.3%;
	max-width: 100%;
	background:#3E3E3E;
	height: 576px;
		position: absolute;
		top: 25%;
		left: -120px;
	
		@include mq('sp') {
			width: 100%;
			display: none;
		}
	
}

// ----------------
// qa
// ----------------
.qa{
	margin-top: 60px;
	background: url(../img/qa-bg.png) no-repeat top center/cover;
	background-attachment: fixed;
	width: 100%;
	top: 0;
	left: 0;
	@include mq('sp') {
	margin-top: -60px;
	}

}

.qa__inner{
	padding-bottom: 120px;
	@include mq('sp') {
		padding-bottom: 64px;
	}

}

.qa__head{
	padding-bottom: 60px;
	color: $color-text;
	@include mq('sp') {
	padding-bottom: 42px;}
}

.qa__items{
	width: 612px;
	max-width: 100%;
	margin-left: auto;
	margin-right: 40px;
	@include mq('sp') {
		width: 343px;
		max-width: 100%;
		margin: 0 auto;
	}

}

.qa__item{
	background: #fff;
	padding: 16px;
	border-radius: 4px;
	@include mq('sp') {
	padding: 14px;}

	&:nth-child(n + 2){
		margin-top: 32px;
		@include mq('sp') {
			margin-top: 25px;
		}

	}

}

.qa-box{

}

.qa-box__q{
	color: $color-text;
	background: $color-main;
	font-weight: 700;
	padding-left: 40px;
	position: relative;

	&::before{
		content: "Q";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		text-align: center;
		background: #3B69FF;
		width: 24px;
		height: 24px;
		border-radius: 500px;
		color: #fff;

	}

}

.qa-box__icon{
	width: 17px;
	height: 17px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	&.is-open{
		.qa-box__bar2{
			transform:rotate(90deg);
		}
	}

}

.qa-box__bar1{
	width: 17px;
	height: 3px;
	background: #3B69FF;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;

}

.qa-box__bar2{
	width: 3px;
	height: 17px;
	background: #3B69FF;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	left: 50%;
	transition: all 0.3s ease 0s;

}

.qa-box__a{
	background:#3B69FF33;
	color: $color-text;
	line-height: (24 / 16 );
	padding: 14px 12px 12px 16px;
	border-radius: 4px;
	display: none;
	margin-top: 16px;
	letter-spacing: 0.1px;
	&.second{
		padding: 9px 12px 12px 16px;

	}

	&.open{
		display: block;
	}


}

.qa-box__content{
	@include mq('sp') {
	font-size: 14px;
	line-height: (20/14);
	}

}

// ----------------
// access
// ----------------
.access{

}

.access__wrap__inner{
	position: relative;
	@include mq('sp') {
	}
	
}

.access__inner{
	width: 76.56%;
	max-width: 100%;
	background:#3E3E3E;
	height: 504px;
	max-height: 100%;
	padding-left: 100px;
	margin-bottom: 256px;

	@include mq('sp') {
		width: 100%;
		padding-left: 16px;
		height: 596px;
		max-height: 100%;
		margin-bottom: 0;
	}

	@include mq('tab') {
		margin-bottom: 100px;
		padding-left: 50px;
	}
}

.access__head{
	@include mq('pc') {
		text-align: left;
		padding-top: 116px;
		
	}	
	padding-bottom: 60px;

	@include mq('sp') {
		padding-bottom: 35px;
		text-align: left;
	}
}

.access__address{
	margin-bottom: 30px;

	p{
		color: #fff;

	}

	@include mq('sp') {
		font-size: 14px;

	}
}

.access__link{
	width: 314px;
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	font-weight: 700;
	line-height: (22.5/20);
	letter-spacing: 4px;
	font-family: $font-en;
	text-shadow: 
	0.1px 0.1px 0, 
	0.1px -0.1px 0px,
	-0.1px 0.1px 0,
	-0.1px -0.1px 0px,
	0.1px 0px 0px,
	0px 0.1px 0px,
	-0.1px 0px 0px,
	0px -0.1px 0px;

	&:hover{
		color: $color-text;
		background: #fff;
		transition: all 0.5s ease 0s;
	}

	a{
		display: inline-block;
		padding:20px 80px;
		text-align: center;	

	}
	@include mq('sp') {
		display: none;
	}

}

.access__map__wrap{
	position: absolute;
	top: 25%;
	right: 40px;

	width: 726px;
	max-width: 100%;
	height: 520px;
	max-height: 100%;

	@include mq('sp') {
		top: 59%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 343px;
		max-width: calc(343 / 375 * 100% ) ;
		height: auto;
	}
	@include mq('tab') {
		width: 550px;
	}

}

.access__map{
	position: relative;
	width: 100%;
	padding-top: 75%; /* = height ÷ width × 100 */
	@include mq('sp') {
		padding-top: 70%;
	}

			
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	
		}
	}


.access__link__sp{
	@include mq('pc') {
		display: none;
	}

	@include mq('sp') {
		width: 100%;
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	font-weight: 700;
	margin-top: 24px;
	font-size: 18px;
	line-height: (22.5/18);
	letter-spacing: 1.8px;
	font-family: $font-en;
	text-shadow: 
	0.1px 0.1px 0, 
	0.1px -0.1px 0px,
	-0.1px 0.1px 0,
	-0.1px -0.1px 0px,
	0.1px 0px 0px,
	0px 0.1px 0px,
	-0.1px 0px 0px,
	0px -0.1px 0px;

	&:hover{
		color: $color-text;
		background: #fff;
		transition: all 0.5s ease 0s;
	}

	a{
		display: inline-block;
		padding:16px 80px;
		text-align: center;	

	}
	}

}



// ----------------
// contact
// ----------------

.contact{
background:url(../img/contact-bg.png) no-repeat center center / cover;
width: 100%;
height: 100%;
padding: 60px;

@include mq('sp') {
	padding: 16px;
	padding-bottom: 40px;
}
}

.contact__inner{
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	height: auto;
	overflow: hidden;

	@include mq('sp') {
	width: 343px;
	max-width: 100%;
	}

	
}

.contact__main__title{
	background: url(../img/sp-contact1.png) no-repeat center center /cover;
	border-radius: 12px 12px 0px 0px;
	width: 960px;
	width: 100%;
	height: auto;
	h1{

	}

	p{
		color: #FFFFFF;
		text-align: center;
		padding: 14px 16px 70px 16px;
		@include mq('sp') {
			text-align: left;
			font-size: 14px;
			padding: 14px 16px 44px 16px;	
		}
	}
	

}


.contact__head{

}

.contact__form__wrapper{
	background: #fff;
	width: 960px;
	max-width: 100%;
	height: auto;
	margin-top: -15px;
	padding: 60px 120px 0 120px;
	border-radius: 0 0 12px 12px;

	@include mq('sp') {
		padding: 40px 12px;
	}


}

.contact__form{
	
}

.contact__list{
	max-width: 770px;
	margin: 0px auto 0;

	@include mq('sp') {
	margin: 0;
	}

}

.contact__item{
	display: flex;

	& + & {
		margin-top: 32px;
		@include mq('sp') {
			margin-top: 27px;
		}
	}

	@include mq('sp') {
	display: block;
	}
}

label{

}
.contact__item__title{
	flex: 0 1 100%;
	color: $color-text;
	height: 32px;
	line-height: 32px;
	text-align: left;
	font-weight: 700;
	

	&.-select{
		margin: auto 0;
	}

	&.-textarea{

		margin-top: 6px;
		@include mq('sp') {
			margin-top: 40px;
		}

		@include mq('sp') {
			margin-top:22px;
			margin-bottom: 7px;
		}
	}
}

.contact__requireLabel{

	background: #ff4646;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin-left: 12px;
  padding: 0;
  text-align: center;
  width: 40px;

  @include mq('sp') {
    font-size: 12px;
    margin-left: 20px;
    padding: 0;
  }

}

.contct__item__input{
	flex: 0 0 532px;
	margin-left: 18px;

	@include mq('sp') {
	margin-left: 0;}

	&.is-select{
		position: relative;
		&:after {
			border-bottom: solid 2px #3e3e3e;
			border-right: solid 2px #3e3e3e;
			content: '';
			display: block;
			height: 6px;
			position: absolute;
			left: 155px;
			top: 35%;
			transform: rotate(45deg);
			width: 6px;
			@include mq('sp') {
				
				left: 93%;
			}

		}	
		
	}
}

select{
	padding: 12px;
	font-size: 16px;
	width: 178px;
	appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
	font-weight: 500;
	height: 40px;
	line-height: 40px;
	outline: none;
	padding: 0 34px 0 8px;
	@include mq('sp') {
		width: 100%;
	}

	&:hover{
		cursor: pointer;
	  box-shadow: 0 0 5px #4973ff;
	}

	&:focus{
		outline: none;
		border: 2px solid #4973FF80;
		box-shadow: #4973FF80;
		box-shadow: 1px 1px 5px 1px #4973FF80;
	}
}



	input[type="text"],
	input[type="email"],
	textarea{
		width: 100%;
		border: 0;
		font-size: 16px;
		border-bottom: 1px solid #3E3E3E;
		padding-left: 10px;
		padding-bottom: 8px;

		@include mq('sp') {
			font-size: 14px;
			border-bottom: 1px solid #3E3E3E;
			padding-left: 0;
			padding-bottom: 0;
		}
		&:hover{
			border-bottom: 1px solid #4973FF80;
			cursor: pointer;
		}

		&:focus{
			outline: none;
			border-bottom: 2px solid #4973FF80;
			box-shadow: #4973FF80;
		}
		

	}

	input[type="text"],
	input[type="email"]{
		position: relative;

	}
	textarea{
		border: 1px solid #3E3E3E;
		min-height: 200px;
		@include mq('sp') {
			min-height: 160px;
		}
		&:hover{
			cursor: pointer;
			border: 1px solid 
			#4973FF80;
			box-shadow: 1px 1px 5px 1px #4973FF80;
		}

	}

	.contact__radio{



	}
	.contact__radio__wrap{
		flex: 0 0 532px;
		margin-left: 54px;
		[type="radio"]{
			display: none;
		}
		@include mq('sp') {
			margin-left: 0;
		}


	}

	.contact__radio__input{

		position: relative;
		
		&.-second{
			margin-left: 40px;}

			// &:before{
			// 	position: absolute;
			// 	content: "";
			// 	width: 13px;
			// 	height: 13px;
			// 	border: 1px solid $color-text;
			// 	border-radius: 100px;
				
				&:hover{
					cursor: pointer;
					border: 1px solid 
					#4973FF80;
					background: #4973FF80;
		
				}

			// }	

	}


	.contact__radio__part{
		display: inline-block;
		padding-left: 26px;
		position: relative;
		margin-right: 30px;
		cursor: pointer;
		@include mq('sp') {
			margin-right: 28px;
		}

		&::before{
			content: "";
			width: 12px;
			height: 12px;
			border: 1px solid #3E3E3E;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background: #fff;
			border-radius: 50%;
			display: block;

		}

		&::after{
			content: "";
			width: 6px;
			height: 6px;
			background:#3B69FF;
			position: absolute;
			left: 3px;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 50%;
			transition: opacity 0.3s ease 0s;
			opacity: 0;
		}
	}

	input[type="radio"]:checked + span{
    &::after{
      opacity: 1;
    }
  }

	.contact__footer{
		margin-top: 28px;

		@include mq('sp') {
		margin-top: 20px;}
	}
	
	.contact__footer__text{
	
	}
	
	.contact__privacy{
		position: relative;
		display: inline-block;
		height: 22px;
		width: 22px;
		vertical-align: middle;
	
	}
	
	.contact__privacy__input{
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	
		&:checked + .contact__privacy__part{
			width: 10px;
			border-top: 0;
			border-left: 0;
			background-color: transparent;
			border-bottom:3px solid #3B69FF;
			border-right: 3px solid #3B69FF;
			transform: rotate(45deg);
			top: -5px;
			left: 5px;
		}
	
	}
	
	.contact__privacy__part{
		display: inline-block;
		height: 20px;
		width: 20px;
		border: solid 1px $color-text;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .3s;

		&:hover{
			cursor: pointer;
			background: 
			#4973FF80;
		}

	
	}
	
	.contact__privacy__link{
		color:$color-text;
		font-size: 18px;
		padding-left: 14px;
		font-weight: 700;
		@include mq('sp') {
		font-size: 16px;}
	
	}

	
	.contact-button{
		margin-top: 37px;
		margin-bottom: 60px;
		width: 173px;
		@include mq('sp') {
			display: block;
	width: 165px;
	margin: 0 auto;
	margin-top: 32px;	
}
&:disabled{
	background-color: #B2B2B2;
	cursor: auto;

}
	}
	


	.contact__message{
	text-align: center;
	margin-top: 0px;
	font-size: 18px;
	display: none;
	
	 &.-error{
		 color: #f00;
		
	 }
	}
	



// ----------------
// footer
// ----------------

footer{
	background: #3E3E3E;
	height: auto;
	color: #E3E3E3;

	@include mq('sp') {
	text-align: center;
padding-top: 40px;}


}
.footer__inner{
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	// padding-top: 48px;
	padding-bottom: 60px;
	display: flex;
	justify-content: space-between;
	@include mq('sp') {
	display: block;
	}

}

.footer__left{
text-align: center;
margin-top: 48px;

@include mq('sp') {
margin-top: 0;}
}

.footer__icon{
	text-align: left;

	a{
		font-size: 36px;
		@include mq('sp') {
		font-size: 44px;}
		&:not(:first-child){
			margin-left: 30px;
			@include mq('sp') {
				margin-left: 50px;
			}
		}
		&:hover{
			opacity: 0.7;
			transition: all 0.5s ease 0s;
		}

	} 
	@include mq('sp') {
	text-align: center;}
}

.fab{



	.fa-twitter{

	}

	.fa-facebook-square{

	}
	
}

.footer__contents{
	margin-top: 26px;
	text-align: left;
	@include mq('sp') {
		font-size: 14px;
		text-align: center;

	}
	p{
		&:not(:first-child){
			margin-top: 16px;
			@include mq('sp') {
				margin-top: 21px;
			}
		}

	}

}

.footer__right{
	padding-top: 42px;
	@include mq('sp') {
	padding-top: 26px;}

}

.footer__logo{
	font-size: 40px;
	line-height: (77 / 40);
	font-family: $font-en;
	font-weight: 700;
	letter-spacing: 0.8px;
	font-weight: bold;
	text-shadow: 
    0.3px 0.3px 0, 
    0.3px -0.3px 0px,
    -0.3px 0.3px 0,
    -0.3px -0.3px 0px,
    0.3px 0px 0px,
    0px 0.3px 0px,
    -0.3px 0px 0px,
    0px -0.3px 0px;
	@include mq('sp') {
		font-size: 32px;
		// margin-top: 40px;
		line-height: 77 / 32;
	}

}

.footer__copyright{
	font-size: 13px;
	letter-spacing: 0.3px;
	line-height: (15/12);

	text-align: right;
	color: #FFFFFF;
	@include mq('sp') {
		text-align: center;


	}

}


// ----------------
// トップへ戻る
// ----------------

.to-top{

	position: fixed;
	right: 24px;
	bottom: 24px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease 0s;
	z-index: 1000;

	@include mq('sp') {
	right: 12px;
	bottom: 12px;
	}
	&.is-show{
		opacity: 1;
		visibility: visible;

	}



	a{
		display: block;
		width: 60px;
		position: relative;
		@include mq('sp') {
		width: 50px;}


	}
	img{
		position: absolute;
		content: "";
		bottom: 20px;
		right: 20px;
		width: 50px;

		@include mq('sp') {
		width: 50px;
		bottom: 10px;
		right: 5px;
		}
	}
}


	// ----------------
// ドロワー
// ----------------


// .drawer-icon{
// 	position: fixed;
// 	top: 20px;
// 	right: 40px;
// 	z-index: 300;
// 	display: none;
// 	transition: transform 0.5s ease 0s;

// 	@include mq('sp') {
// 	display: block;
// 	}

// 	&.is-active{
// 		transform: translateX(-200px);

// 		.drawer-icon__bar1{
// 			top: 8px;
// 			transform: rotate(-45deg);
// 			transition: transform 0.5s ease 0.2s;

// 		}
		
// 		.drawer-icon__bar2{
// 			// display: none;
// 			opacity: 0;
// 			transition: transform 0.5s ease 0.2s;

// 		}
		
// 		.drawer-icon__bar3{
// 			top: 8px;
// 			transform: rotate(45deg);	
// 			transition: transform 0.5s ease 0.2s;
// 		}

// 	}

// }

// .drawer-icon__bars{
// 	width: 22px;
// 	height: 20px;
// 	display: block;
// 	position: relative;


// }

// .drawer-icon__bar1,
// .drawer-icon__bar2,
// .drawer-icon__bar3{

// 	position: absolute;
// 	width: 22px;
// 	height: 4px;
// 	background:#fff;
// 	top: 0;
// 	left: 0;



// }

// .drawer-icon__bar1{
// 	top: 0;
// }

// .drawer-icon__bar2{
// 	top: 8px;
// }

// .drawer-icon__bar3{
// 	top: 16px;
// }

// .drawer-content{
// 	width: 200px;
// 	height: 100%;
// 	position: fixed;
// 	right: 0;
// 	top: 0;
// 	background: #fff;
// 	box-shadow: 0 0 3px rgba( #000, 0.16);
// 	z-index: 299;
// 	transform: translateX(105%);
// 	transition: transform 0.5s ease 0s;

// 	&.is-active{
// 		transform: translateX(0);
// 	}

// }

// .drawer-content__items{

// }

// .drawer-content__item{
// 	border-bottom: 1px dotted #707070;

// 	a{
// 		display: block;
// 		color: #707070;
// 		padding: 18px 20px;
// 		position: relative;

// 		&::after{
// 			content: "";
// 			position: absolute;
// 			right: 20px;
// 			top: 50%;
// 			transform: translateY(-50%);
// 			width: 8px;
// 			height: 11px;
// 			background: url(../img/arrow-b.png) no-repeat center center /contain;

// 		}

// 	}
// }

// .drawer-background{

// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: rgba(#000,0.8);
// 	z-index: 298;
// 	display: none;

// 	&.is-active{
// 		display: block;
// 	}
// }
